<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
               <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Destacado">Desctacado</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>hola</h1>
        <img width="300" src="/images/home.png" alt="">

        <section>
        <section id="Ofertas">
            <h2>Ofertas</h2>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab possimus laudantium corporis iste libero maxime minima asperiores omnis voluptatum debitis, non impedit quasi quia, necessitatibus fugiat doloremque. Nesciunt, incidunt?</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti sequi in labore similique dicta quasi molestiae? Illum, nihil ex quas autem ratione perspiciatis et hic, saepe rerum laborum iure nostrum.</p>

            </article>
            <article>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aut ea illo perspiciatis eaque. Iure, obcaecati doloremque dolorum, fugit tempora consequuntur sequi minus cupiditate labore dolore quisquam numquam dolorem! Minus.

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab possimus laudantium corporis iste libero maxime minima asperiores omnis voluptatum debitis, non impedit quasi quia, necessitatibus fugiat doloremque. Nesciunt, incidunt?</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti sequi in labore similique dicta quasi molestiae? Illum, nihil ex quas autem ratione perspiciatis et hic, saepe rerum laborum iure nostrum.</p>

            </article>
            <article>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aut ea illo perspiciatis eaque. Iure, obcaecati doloremque dolorum, fugit tempora consequuntur sequi minus cupiditate labore dolore quisquam numquam dolorem! Minus.

            </article>
        </section>
        <section>
        <section id="Destacado">
            <h2>Destacados</h2>
            <article>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aut ea illo perspiciatis eaque. Iure, obcaecati doloremque dolorum, fugit tempora consequuntur sequi minus cupiditate labore dolore quisquam numquam dolorem! Minus.

            </article>
            <article>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aut ea illo perspiciatis eaque. Iure, obcaecati doloremque dolorum, fugit tempora consequuntur sequi minus cupiditate labore dolore quisquam numquam dolorem! Minus.

            </article>
            <article>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aut ea illo perspiciatis eaque. Iure, obcaecati doloremque dolorum, fugit tempora consequuntur sequi minus cupiditate labore dolore quisquam numquam dolorem! Minus.

            </article>
            <article>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aut ea illo perspiciatis eaque. Iure, obcaecati doloremque dolorum, fugit tempora consequuntur sequi minus cupiditate labore dolore quisquam numquam dolorem! Minus.

            </article>
        <a href="">volver a inicio</a>
        </section>
    </main>
    <footer>
        <section>
            <h5>contacto</h5>
            <nav>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=YhsJpwc6eUI&list=RDMMYhsJpwc6eUI&start_radio=1">Ir a retrogusto | ejejej</a>
                    </li>
                    <li><a href=""></a></li>
                    <li>telefono : 3484567422</li>
                    
                </ul>
            </nav>

        </section>
      
    </footer>
    
 
</body>
</html>